<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EYEPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>edu.uw.jiawang.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/Admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>edu.uw.jiawang.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentController</servlet-name>
    <servlet-class>edu.uw.jiawang.studentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentController</servlet-name>
    <url-pattern>/Student/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nurseResController</servlet-name>
    <servlet-class>edu.uw.jiawang.nurseResController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nurseResController</servlet-name>
    <url-pattern>/nurseRes/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doctorResController</servlet-name>
    <servlet-class>edu.uw.jiawang.doctorResController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorResController</servlet-name>
    <url-pattern>/doctorRes/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>researcherController</servlet-name>
    <servlet-class>edu.uw.jiawang.researcherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>researcherController</servlet-name>
    <url-pattern>/Researcher/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scoreController</servlet-name>
    <servlet-class>edu.uw.jiawang.scoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scoreController</servlet-name>
    <url-pattern>/score/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>edu.uw.jiawang.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>edu.uw.jiawang.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/Download/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>edu.uw.jiawang.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/Upload/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>edu.uw.jiawang.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/Delete/*</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>
</web-app>